<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="widget">
            <h3>Company</h3>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our Work</a></li>
                <li><a href="#">Games</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
    </div><!--/.col-md-3-->

    <div class="col-md-3 col-sm-6">
        <div class="widget">
            <h3>Support</h3>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Contact Us</a></li>

            </ul>
        </div>
    </div><!--/.col-md-3-->

    <div class="col-md-3 col-sm-6">
        <div class="widget">
            <h3>Tutorial</h3>
            <ul>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Software Engineering</a></li>
                <li><a href="#">Computer Engineering</a></li>
                <li><a href="#">Electrical Engineering</a></li>
            </ul>
        </div>
    </div><!--/.col-md-3-->

    <div class="col-md-3 col-sm-6">
        <div class="widget">
            <h3>Games</h3>
            <ul>
                <li><a href="#">League of Legends</a></li>
                <li><a href="#">Jade Dynasty</a></li>
                <li><a href="#">Planet Base</a></li>
                <li><a href="#">Perfect World</a></li>
                <li><a href="#">Counter Strike Global Offensive</a></li>
            </ul>
        </div>
    </div><!--/.col-md-3-->
</div>