<div class="container">
    <div class="row">
        <div class="col-sm-6">
            &copy; 2015 <a target="_blank" href="http://chrysaour.com" title="We are the entertainer!">Chrysaour</a>. All Rights Reserved.
        </div>
        <div class="col-sm-6">
            <ul class="pull-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">FQA</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>